@media (max-width: 1200px) {
	.welcome {
		height: 1050px;
	}

	.wrapper {
		max-width: 945px;
	}

	.header__item {
		padding-right: 2.3em;
	}

	.welcome__title {
		max-width: 750px;
		margin-bottom: 24px;
	}

	.welcome__subtitle {
		max-width: 60%;
		margin: 0 auto 25px auto;
	}

	.about__subtitle {
		max-width: 800px;
	}


	.news__content {
		max-width: 970px;
	}

	.team__info {
		width: 40%;
	}
}

@media (max-width: 1025px) {

	.welcome {
		background-attachment: initial;
	}
}

@media (max-width: 893px) {

	.welcome {
		height: 1139px;
	}

	.welcome__button-learn,
	.welcome__button-download {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.wrapper {
		max-width: 750px;
	}

	.header__menu {
		display: none;
	}

	.about__subtitle {
		max-width: 630px;
	}

	.slider__description {
		width: 100%;
	}

	.services__subtitle {
		max-width: 600px;
    	margin: 0 auto;
	}

	.news__item {
		width: 50%;
	}

	.team__item {
	}

	.team__icon {
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.team__info {
		margin: 0 auto;
		float: none;
		width: 120px;
		text-align: center;
	}

	.contact__item {
		margin-right: 0; 
		padding: 0 15px;
	}

	.contact__heading {
		width: 122px;
		padding: 0;
	}

	.contact__description {
		width: 160px;
	}
}



@media (max-width: 765px) {
	
	.wrapper {
		max-width: 670px;
	}

	.welcome {
		height: 476px; 
	}

	.welcome__title {
		font-size: 50px;
	}

	.welcome__subtitle {
		max-width: 100%;
	}

	.sqr-dot {
		/*margin: 0 ; */
	}

	.welcome__button-learn,
	.welcome__button-download {
		display: inline-block;
		margin: 10px 15px;	
	}

	.welcome__inner {
		top: initial;
		bottom: 10px;
	}

	.skill {
		display: block;
		width: 100%;
		padding-top: 60px;
	}

	.projects__img {
		width: 50%;
	}

	.services {
		max-width: 759px;
	}

	.services__subtitle {
		max-width: initial;
	}

	.services__item {
		display: block;	
		width: 100%;
		margin-bottom: 50px;
	}

	.sevices__item:last-child {
		margin-bottom: 0;
	}

	.news__wrapper {
		max-width: initial;
	}

	.news__item {
		width: 100%;
	}

	.statistics__item {
		display: block;
		border-right: 0;
		margin: 0  auto 50px auto;
	}

	.statistics__item:last-child {
		margin-bottom: 0;
	}

	.team__item {
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding-left: 7%;
		margin-bottom: 40px;
		overflow: hidden;
	}

	.team__icon,
	.team__info {
		float: left;
	}

	.team__info {
		width: 60%;
		padding-left: 20px;
		text-align: left;
	}

	.contact__wrapper {
		max-width: 750px;
	}

	.contact__item,
	.contact__media {
		float: none;
		text-align: left;
		padding: 0 15px;
	}

	.contact__item {
		margin-bottom: 30px;
	}

	.contact__description {
		width: initial;
	}

	.contact__item:last-child {
		margin-bottom: 0;
	}

	.contact__buttton {
		margin-right: 15px;
	}

	.form__item,
	.form__message {
		width: 100%;
		padding: 0 15px;
	}


	.form__item:last-child {
		padding: 0 15px;
	}

	.footer__item {
		display: block;
		margin-bottom: 16px;
	}

	.footer__item:last-child{
		margin-bottom: 0;
	}

}

@media (max-width: 750px) {
	
}

@media (max-width: 64px) {
	
	.welcome {
		height: 530px; 
	}

}

@media (max-width: 578px) {
	
	.welcome {
		height: 613px; 
	}

}





